<table id="dataTable" class="display divDatatable">
        <thead>
            <tr>
                <th>Nombre Menu</th>
                <th>Tiempo Preparacion</th>
                <th>Precio Venta</th>
                <th>Precio Preparacion</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in Lista %}
            <tr>
                <td>{{fila.5}}</td>
                <td>{{fila.2}}</td>
                <td>{{fila.4}}</td>
                <td>{{fila.3}}</td>
                <td class="d-flex justify-content-center">
                    <!-- Boton HTMX editar!-->
                    <button type="button" class="btn btn-info mr-2" hx-target="#ModalDetalles" hx-swap="innerHTML"
                        hx-get="{% url 'DetallesRecetasProductoHtmx'%}?id={{fila.0}}&receta={{fila.1}}">
                        <i class="fas fa-eye"></i>
                    </button>
                    <!-- Boton HTMX eliminar!-->
                    <button type="button" id="BotonEliminar" class="btn btn-danger ml-2"
                        hx-post="{% url 'ModalEliminarRecetaProductoHtmx' %}?id={{fila.0}}" hx-target="#ModalEliminacion"
                        hx-swap="innerHTML">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


<script>
    reload();

    {% if resultado == 1 %}
        Swal.fire(
        'Exito',
        'Proveedor Eliminado Correctamente',
        'success'
        )
    {% elif resultado == 0 %}
         Swal.fire(
        'Error',
        'Error Interno del servidor',
        'error'
        )
    {% elif resultado == -1 %}
         Swal.fire(
        'Error',
        'Error interno en la base de datos',
        'error'
        )
    {% endif %}
    
</script>
