<table id="tablaUsuarios" class="display divDatatable">
        <thead>
            <tr>
                <th>USUARIO</th>
                <th>CONTRASEÑA</th>
                <th>ROL</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in ListaUsuarios %}
            <tr>
                <td>{{fila.1}}</td>
                <td>{{fila.2}}</td>
                <td>{{fila.3}}</td>
                <td class="d-flex justify-content-center">
                      <!-- Boton HTMX editar!-->
                    <button type="button" class="btn btn-success mr-2" hx-target="#ModalEditarUsuario" hx-swap="innerHTML" hx-get="{% url 'DetallesUsuarioHtmx'%}?id={{fila.0}}">
                            <i class="fas fa-edit"></i>
                    </button>
                    <!-- Boton HTMX eliminar!-->
                    <button type="button" id="BotonEliminar" class="btn btn-danger ml-2" hx-post="{% url 'modalEliminarUsuarioHtmx' %}?id={{fila.0}}" hx-target="#ModalEliminarUsuario" hx-swap="innerHTML">
                    <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>


<script>
    reload();

    {% if resultado == 1 %}
        Swal.fire(
        'Exito',
        'Usuario Editado Correctamente',
        'success'
        )
    {% elif resultado == 0 %}
         Swal.fire(
        'Error',
        'Error Interno del servidor',
        'error'
        )
    {% elif resultado == -1 %}
         Swal.fire(
        'Error',
        'Error interno en la base de datos',
        'error'
        )
    {% endif %}
    
</script>